<footer class="i-footer-container">
  <div class="i-footer-container__content i-container i-relative">
    
    <div class="i-footer-container__content--cols i-footer-container__content--col-1">
      <img src="{{ section.settings.logo_footer | image_url: width: 500 }}" alt="Logo Arcadia Footer" />
    </div>
    <div class="i-footer-container__content--cols i-footer-container__content--col-2">
      <h4 class="Text-Colors-Grey Typo-H3">Suscríbete a la newsletter</h4>
      <p class="Text-Colors-Grey Family-Font---Body Typo-Body-M">Mantente al tanto con Arcadia’s Nectar: recibe las últimas novedades sobre miel pura y sé el primero en acceder a ofertas exclusivas.</p>
    
      <div class="i-footer-form">
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button
                type="submit"
                class="newsletter-form__button field__button is-button-hover-primary"
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                {{ 'newsletter.button_label' | t }}
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="ContactFooter-success"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {%- endform -%}
      </div>

      <div class="i-footer-copyright Text-Colors-Grey Family-Font---Body Typo-Body-S">
        © All Rights Reserved 2025
        <a href="{{ section.settings.facebook_url | default: 'https://www.facebook.com' }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18" fill="none">
            <path d="M5.91826 6.09844V4.33683C5.91826 3.54156 6.09396 3.13931 7.32847 3.13931H8.8774V0.180176H6.29278C3.12558 0.180176 2.08064 1.632 2.08064 4.12414V6.09844H0V9.05757H2.08064V17.935H5.91826V9.05757H8.526L8.8774 6.09844H5.91826Z" fill="#464646"/>
          </svg>
        </a>
        <a href="{{ section.settings.instagram_url | default: 'https://www.instagram.com' }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M14.0183 2.13437C15.1459 2.13437 16.2273 2.5823 17.0246 3.37961C17.8219 4.17691 18.2698 5.2583 18.2698 6.38586V13.7293C18.2698 14.8569 17.8219 15.9383 17.0246 16.7356C16.2273 17.5329 15.1459 17.9808 14.0183 17.9808H6.67486C5.5473 17.9808 4.46592 17.5329 3.66861 16.7356C2.8713 15.9383 2.42338 14.8569 2.42338 13.7293V6.38586C2.42338 5.2583 2.8713 4.17691 3.66861 3.37961C4.46592 2.5823 5.5473 2.13437 6.67486 2.13437H14.0183ZM14.0183 0.588379H6.67486C5.13869 0.592967 3.66674 1.20524 2.58049 2.29149C1.49425 3.37774 0.881968 4.84968 0.87738 6.38586V13.7293C0.881968 15.2655 1.49425 16.7375 2.58049 17.8237C3.66674 18.91 5.13869 19.5222 6.67486 19.5268H14.0183C15.5545 19.5222 17.0265 18.91 18.1127 17.8237C19.199 16.7375 19.8112 15.2655 19.8158 13.7293V6.38586C19.8112 4.84968 19.199 3.37774 18.1127 2.29149C17.0265 1.20524 15.5545 0.592967 14.0183 0.588379Z" fill="#464646"/>
            <path d="M15.3975 3.87354C15.1785 3.87354 14.9644 3.93848 14.7823 4.06015C14.6002 4.18183 14.4583 4.35477 14.3745 4.5571C14.2907 4.75944 14.2688 4.98208 14.3115 5.19688C14.3542 5.41168 14.4597 5.60899 14.6145 5.76385C14.7694 5.91871 14.9667 6.02417 15.1815 6.0669C15.3963 6.10962 15.619 6.08769 15.8213 6.00388C16.0236 5.92007 16.1966 5.77815 16.3182 5.59605C16.4399 5.41395 16.5049 5.19986 16.5049 4.98085C16.5049 4.83544 16.4762 4.69145 16.4206 4.5571C16.3649 4.42276 16.2834 4.30069 16.1805 4.19786C16.0777 4.09504 15.9556 4.01347 15.8213 3.95782C15.6869 3.90218 15.543 3.87354 15.3975 3.87354Z" fill="#464646"/>
            <path d="M10.3988 6.67052C11.0747 6.67013 11.7355 6.87024 12.2977 7.24552C12.8599 7.6208 13.2981 8.15439 13.5569 8.77878C13.8158 9.40317 13.8836 10.0903 13.7518 10.7532C13.62 11.4162 13.2946 12.0252 12.8167 12.5031C12.3387 12.981 11.7297 13.3065 11.0668 13.4383C10.4039 13.57 9.71672 13.5022 9.09233 13.2434C8.46794 12.9845 7.93435 12.5463 7.55907 11.9842C7.18379 11.422 6.98369 10.7611 6.98407 10.0852C6.9856 9.18007 7.34586 8.31241 7.98591 7.67236C8.62596 7.03231 9.49362 6.67205 10.3988 6.67052ZM10.3988 5.12452C9.4176 5.12643 8.459 5.41916 7.64412 5.96571C6.82925 6.51225 6.19468 7.28809 5.82061 8.19518C5.44654 9.10226 5.34975 10.0999 5.54248 11.062C5.73521 12.024 6.20881 12.9074 6.90343 13.6004C7.59804 14.2934 8.4825 14.7649 9.44502 14.9554C10.4075 15.1459 11.4049 15.0468 12.3111 14.6706C13.2173 14.2944 13.9917 13.658 14.5363 12.8419C15.081 12.0257 15.3715 11.0664 15.3711 10.0852C15.3708 9.43288 15.242 8.78697 14.9919 8.18447C14.7417 7.58197 14.3753 7.03469 13.9135 6.57394C13.4516 6.1132 12.9035 5.74803 12.3004 5.49932C11.6973 5.25061 11.0511 5.12325 10.3988 5.12452Z" fill="#464646"/>
          </svg>
        </a>
        <a href="{{ section.settings.tiktok_url | default: 'https://www.tiktok.com' }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
            <path d="M15.8159 7.43914C14.3414 7.44284 12.903 6.96003 11.7041 6.0589V12.3436C11.7037 13.5076 11.3648 14.6437 10.7328 15.6001C10.1008 16.5564 9.20585 17.2874 8.16752 17.6952C7.12919 18.1031 5.99702 18.1684 4.92239 17.8824C3.84776 17.5964 2.8819 16.9728 2.15395 16.0949C1.426 15.217 0.970671 14.1267 0.848837 12.9697C0.727003 11.8128 0.944475 10.6443 1.47217 9.62066C1.99987 8.59699 2.81265 7.76686 3.80181 7.24129C4.79098 6.71571 5.90939 6.51974 7.0075 6.67957V9.84056C6.505 9.67461 5.96541 9.67961 5.46578 9.85485C4.96615 10.0301 4.53204 10.3666 4.22543 10.8163C3.91882 11.2661 3.7554 11.8061 3.7585 12.3591C3.7616 12.9122 3.93107 13.4501 4.2427 13.896C4.55434 14.342 4.9922 14.6731 5.49376 14.8421C5.99532 15.0112 6.53493 15.0095 7.03553 14.8373C7.53613 14.6652 7.97212 14.3313 8.28124 13.8835C8.59035 13.4357 8.75679 12.8967 8.75678 12.3436V0.0576172H11.7041C11.702 0.318944 11.7229 0.579914 11.7664 0.837229C11.8688 1.41164 12.0817 1.95809 12.3922 2.44313C12.7026 2.92817 13.104 3.34162 13.5719 3.65818C14.2375 4.12028 15.0179 4.36658 15.8159 4.3664V7.43914Z" fill="#464646"/>
          </svg>
        </a>
      </div>
    </div>

    {% for block in section.blocks %}
      {% if block.type == 'link_list' %}
        <div class="i-footer-container__content--cols i-footer-container__content--col-3">
          <h4 class="Text-Colors-Grey Typo-Body-XL">{{ block.settings.heading }}</h4>
          <ul>
            {% assign menu = linklists[block.settings.menu] %}
            {% if menu.links.size > 0 %}
              {% for link in menu.links %}
                <li>
                  <a class="Text-Colors-Grey Family-Font---Body Typo-Body-M" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            {% else %}
              <li>No hay enlaces en este menú.</li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}

    <div class="i-footer-container__content--cols-absolute">
      <a href="https://www.iuropagency.com" class="by-iurop Text-Colors-Grey Family-Font---Body Typo-Body-S">
        Web creada por <img src="https://cdn.shopify.com/s/files/1/0747/5737/4190/files/iurop-logo.png" />
      </a>
      <div class="i-footer-copyright only-mobile">
        <span class="Text-Colors-Grey Family-Font---Body Typo-Body-S">
          © All Rights Reserved 2025
        </span>
        <span>
          <a href="{{ section.settings.facebook_url | default: 'https://www.facebook.com' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18" fill="none">
              <path d="M5.91826 6.09844V4.33683C5.91826 3.54156 6.09396 3.13931 7.32847 3.13931H8.8774V0.180176H6.29278C3.12558 0.180176 2.08064 1.632 2.08064 4.12414V6.09844H0V9.05757H2.08064V17.935H5.91826V9.05757H8.526L8.8774 6.09844H5.91826Z" fill="#464646"/>
            </svg>
          </a>
          <a href="{{ section.settings.instagram_url | default: 'https://www.instagram.com' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M14.0183 2.13437C15.1459 2.13437 16.2273 2.5823 17.0246 3.37961C17.8219 4.17691 18.2698 5.2583 18.2698 6.38586V13.7293C18.2698 14.8569 17.8219 15.9383 17.0246 16.7356C16.2273 17.5329 15.1459 17.9808 14.0183 17.9808H6.67486C5.5473 17.9808 4.46592 17.5329 3.66861 16.7356C2.8713 15.9383 2.42338 14.8569 2.42338 13.7293V6.38586C2.42338 5.2583 2.8713 4.17691 3.66861 3.37961C4.46592 2.5823 5.5473 2.13437 6.67486 2.13437H14.0183ZM14.0183 0.588379H6.67486C5.13869 0.592967 3.66674 1.20524 2.58049 2.29149C1.49425 3.37774 0.881968 4.84968 0.87738 6.38586V13.7293C0.881968 15.2655 1.49425 16.7375 2.58049 17.8237C3.66674 18.91 5.13869 19.5222 6.67486 19.5268H14.0183C15.5545 19.5222 17.0265 18.91 18.1127 17.8237C19.199 16.7375 19.8112 15.2655 19.8158 13.7293V6.38586C19.8112 4.84968 19.199 3.37774 18.1127 2.29149C17.0265 1.20524 15.5545 0.592967 14.0183 0.588379Z" fill="#464646"/>
              <path d="M15.3975 3.87354C15.1785 3.87354 14.9644 3.93848 14.7823 4.06015C14.6002 4.18183 14.4583 4.35477 14.3745 4.5571C14.2907 4.75944 14.2688 4.98208 14.3115 5.19688C14.3542 5.41168 14.4597 5.60899 14.6145 5.76385C14.7694 5.91871 14.9667 6.02417 15.1815 6.0669C15.3963 6.10962 15.619 6.08769 15.8213 6.00388C16.0236 5.92007 16.1966 5.77815 16.3182 5.59605C16.4399 5.41395 16.5049 5.19986 16.5049 4.98085C16.5049 4.83544 16.4762 4.69145 16.4206 4.5571C16.3649 4.42276 16.2834 4.30069 16.1805 4.19786C16.0777 4.09504 15.9556 4.01347 15.8213 3.95782C15.6869 3.90218 15.543 3.87354 15.3975 3.87354Z" fill="#464646"/>
              <path d="M10.3988 6.67052C11.0747 6.67013 11.7355 6.87024 12.2977 7.24552C12.8599 7.6208 13.2981 8.15439 13.5569 8.77878C13.8158 9.40317 13.8836 10.0903 13.7518 10.7532C13.62 11.4162 13.2946 12.0252 12.8167 12.5031C12.3387 12.981 11.7297 13.3065 11.0668 13.4383C10.4039 13.57 9.71672 13.5022 9.09233 13.2434C8.46794 12.9845 7.93435 12.5463 7.55907 11.9842C7.18379 11.422 6.98369 10.7611 6.98407 10.0852C6.9856 9.18007 7.34586 8.31241 7.98591 7.67236C8.62596 7.03231 9.49362 6.67205 10.3988 6.67052ZM10.3988 5.12452C9.4176 5.12643 8.459 5.41916 7.64412 5.96571C6.82925 6.51225 6.19468 7.28809 5.82061 8.19518C5.44654 9.10226 5.34975 10.0999 5.54248 11.062C5.73521 12.024 6.20881 12.9074 6.90343 13.6004C7.59804 14.2934 8.4825 14.7649 9.44502 14.9554C10.4075 15.1459 11.4049 15.0468 12.3111 14.6706C13.2173 14.2944 13.9917 13.658 14.5363 12.8419C15.081 12.0257 15.3715 11.0664 15.3711 10.0852C15.3708 9.43288 15.242 8.78697 14.9919 8.18447C14.7417 7.58197 14.3753 7.03469 13.9135 6.57394C13.4516 6.1132 12.9035 5.74803 12.3004 5.49932C11.6973 5.25061 11.0511 5.12325 10.3988 5.12452Z" fill="#464646"/>
            </svg>
          </a>
          <a href="{{ section.settings.tiktok_url | default: 'https://www.tiktok.com' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
              <path d="M15.8159 7.43914C14.3414 7.44284 12.903 6.96003 11.7041 6.0589V12.3436C11.7037 13.5076 11.3648 14.6437 10.7328 15.6001C10.1008 16.5564 9.20585 17.2874 8.16752 17.6952C7.12919 18.1031 5.99702 18.1684 4.92239 17.8824C3.84776 17.5964 2.8819 16.9728 2.15395 16.0949C1.426 15.217 0.970671 14.1267 0.848837 12.9697C0.727003 11.8128 0.944475 10.6443 1.47217 9.62066C1.99987 8.59699 2.81265 7.76686 3.80181 7.24129C4.79098 6.71571 5.90939 6.51974 7.0075 6.67957V9.84056C6.505 9.67461 5.96541 9.67961 5.46578 9.85485C4.96615 10.0301 4.53204 10.3666 4.22543 10.8163C3.91882 11.2661 3.7554 11.8061 3.7585 12.3591C3.7616 12.9122 3.93107 13.4501 4.2427 13.896C4.55434 14.342 4.9922 14.6731 5.49376 14.8421C5.99532 15.0112 6.53493 15.0095 7.03553 14.8373C7.53613 14.6652 7.97212 14.3313 8.28124 13.8835C8.59035 13.4357 8.75679 12.8967 8.75678 12.3436V0.0576172H11.7041C11.702 0.318944 11.7229 0.579914 11.7664 0.837229C11.8688 1.41164 12.0817 1.95809 12.3922 2.44313C12.7026 2.92817 13.104 3.34162 13.5719 3.65818C14.2375 4.12028 15.0179 4.36658 15.8159 4.3664V7.43914Z" fill="#464646"/>
            </svg>
          </a>
        </span>
      </div>
      <img src="{{ 'payment-methods.png' | asset_url }}" />

      <img src="{{ section.settings.logo_footer | image_url: width: 500 }}" class="only-mobile logo-mobile-footer" alt="Logo Arcadia Footer" />
    </div>

  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "image_picker",
      "id": "logo_footer",
      "label": "Logo Footer"
    },
    {
      "type": "header",
      "content": "Redes Sociales"
    },
    {
      "type": "text",
      "id": "facebook_url",
      "label": "URL de Facebook",
      "default": "https://www.facebook.com"
    },
    {
      "type": "text",
      "id": "instagram_url",
      "label": "URL de Instagram",
      "default": "https://www.instagram.com"
    },
    {
      "type": "text",
      "id": "tiktok_url",
      "label": "URL de TikTok",
      "default": "https://www.tiktok.com"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Footer menus",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Menu",
          "label": "Nombre del menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu footer"
        }
      ]
    }
  ]
}
{% endschema %}
