<header class="i-header-container" style="height: {{ section.settings.container_height }}px;">

  <div class="i-header-container__content i-container">
    <div class="i-header-container__content--logo" style="width: {{ settings.logo_width }}px;">
      <div class="re">
        <div class="ce">
          <a href="{{ routes.root_url }}" class="header__logo">
            {%- if settings.logo != blank -%}
              <div class="header__logo--wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__logo--reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
      </div>
    </div>
    <div class="i-header-container__content--menu">
      <div class="re">
        <div class="ce">
          {%- liquid
            if section.settings.menu != blank
              render 'header-drawer'
            endif
          -%}
        </div>
      </div>
    </div>
    <div class="i-header-container__content--search">
      Searchbar

      {% comment %} {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}
    </div>
    <div class="i-header-container__content--icons">

      <div id="icon-search" class="i-header-container__content--icons__icon">
        <div class="re">
          <div class="ce">
            sea
          </div>
        </div>
      </div>

      <div id="icon-user" class="i-header-container__content--icons__icon">
        <div class="re">
          <div class="ce">
            us
          </div>
        </div>
      </div>

      <div id="icon-minicart" class="i-header-container__content--icons__icon">
        <i-minicart blocks="{{ settings.enable_permalink_cart }}" />
      </div>
    </div>
  </div>

</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },






    

    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "container_height",
      "min": 40,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.header.settings.container_height.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },

  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
