<div class="i-section isfaqs 
  {% unless section.settings.use_image_ticks %} Bg-Colors-300{% endunless %}  
  {% if section.settings.use_image_ticks %} alternative_ticks{% endif %}
  " data-aos="fade-up">
  
  <div class="i-section-image-faqs">
    
    {% unless section.settings.use_image_ticks %}
      <div class="i-section-image-faqs__title Text-Colors-800 Family-Font Typo-H2">FAQ’s</div>
    {% endunless %}

    <div class="i-section-image-faqs__items {% if section.settings.use_groups %} use-groups mil-active{% endif %}">

      {% if section.settings.use_groups %}
        <div class="i-section-image-faqs__tabs">
          <button class="miel-button">Miel</button>
          <button class="shipping-button">Envíos</button>
          <button class="subs-button">Suscripción</button>
        </div>
      {% endif %}


      {% if section.settings.use_image_ticks %}
        <div class="i-section-image-faqs__items--heading">
          <h2>{{ section.settings.title }}</h2>
          <div>
            {{ section.settings.content }}
          </div>
        </div>
      {% endif %}
      {% for block in section.blocks %}
        {% if block.type == 'content_block' %}
          <div class="i-section-image-faqs__item">
            <details>
              <summary class="Text-Colors-800 Family-Font---Body Typo-Body-M">
                {% if section.settings.use_image_ticks %}
                  <span class="tick-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                      <path d="M1.55916 6.89569C1.26393 6.89649 0.974969 6.97729 0.725703 7.12876C0.476436 7.28023 0.277055 7.49617 0.150625 7.75161C0.0241944 8.00705 -0.0241172 8.29153 0.0112789 8.57216C0.046675 8.85279 0.164332 9.11809 0.350639 9.33736L4.32226 13.9955C4.46386 14.1638 4.64538 14.2974 4.85173 14.3851C5.05808 14.4728 5.28331 14.5121 5.50871 14.4997C5.99078 14.4749 6.426 14.228 6.70348 13.8221L14.9535 1.10091C14.9535 1.10091 14.9563 1.09669 14.9578 1.09462C15.0352 0.980819 15.0101 0.755304 14.8503 0.613633C14.8064 0.574728 14.7546 0.544839 14.6982 0.525805C14.6418 0.506771 14.5819 0.498996 14.5223 0.502959C14.4626 0.506922 14.4044 0.522538 14.3513 0.548847C14.2981 0.575155 14.2512 0.611599 14.2133 0.655933C14.2104 0.659418 14.2073 0.662851 14.2042 0.666232L5.88389 9.66678C5.85224 9.70103 5.81378 9.72892 5.77077 9.74882C5.72776 9.76872 5.68105 9.78024 5.63335 9.78271C5.58565 9.78518 5.53791 9.77856 5.49291 9.76321C5.4479 9.74787 5.40653 9.72412 5.3712 9.69333L2.60985 7.28745C2.32306 7.03574 1.94822 6.89598 1.55916 6.89569Z" fill="#887E64"/>
                    </svg>
                  </span>
                {% endif %}
                {{ block.settings.title }}
                {% render 'i-icon' name: 'plus' %}
              </summary>
              <p class="Text-Colors-800 Family-Font---Body Typo-Body-M">
                {{ block.settings.content }}
              </p>
            </details>
          </div>
        {% else %}
          <div class="i-section-image-faqs__item faq-type-{{ block.type }}">
            <details>
              <summary class="Text-Colors-800 Family-Font---Body Typo-Body-M">
                {% if section.settings.use_image_ticks %}
                  <span class="tick-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                      <path d="M1.55916 6.89569C1.26393 6.89649 0.974969 6.97729 0.725703 7.12876C0.476436 7.28023 0.277055 7.49617 0.150625 7.75161C0.0241944 8.00705 -0.0241172 8.29153 0.0112789 8.57216C0.046675 8.85279 0.164332 9.11809 0.350639 9.33736L4.32226 13.9955C4.46386 14.1638 4.64538 14.2974 4.85173 14.3851C5.05808 14.4728 5.28331 14.5121 5.50871 14.4997C5.99078 14.4749 6.426 14.228 6.70348 13.8221L14.9535 1.10091C14.9535 1.10091 14.9563 1.09669 14.9578 1.09462C15.0352 0.980819 15.0101 0.755304 14.8503 0.613633C14.8064 0.574728 14.7546 0.544839 14.6982 0.525805C14.6418 0.506771 14.5819 0.498996 14.5223 0.502959C14.4626 0.506922 14.4044 0.522538 14.3513 0.548847C14.2981 0.575155 14.2512 0.611599 14.2133 0.655933C14.2104 0.659418 14.2073 0.662851 14.2042 0.666232L5.88389 9.66678C5.85224 9.70103 5.81378 9.72892 5.77077 9.74882C5.72776 9.76872 5.68105 9.78024 5.63335 9.78271C5.58565 9.78518 5.53791 9.77856 5.49291 9.76321C5.4479 9.74787 5.40653 9.72412 5.3712 9.69333L2.60985 7.28745C2.32306 7.03574 1.94822 6.89598 1.55916 6.89569Z" fill="#887E64"/>
                    </svg>
                  </span>
                {% endif %}
                {{ block.settings.title }}
                {% render 'i-icon' name: 'plus' %}
              </summary>
              <p class="Text-Colors-800 Family-Font---Body Typo-Body-M">
                {{ block.settings.content }}
              </p>
            </details>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if section.settings.use_image_ticks %}
      <div class="i-section-image-faqs__image">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.title }}" />
      </div>
    {% endif %}
  </div>

</div>

{% schema %}
{
  "name": "iUROP section - Faqs",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_image_ticks",
      "default": false,
      "label": "Habilitar contenido adicional"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Título"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Texto enriquecido"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    },
    {
      "type": "checkbox",
      "id": "use_groups",
      "default": false,
      "label": "Habilitar agrupación"
    },
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Pregunta frecuente",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Pregunta"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Respuesta"
        }
      ]
    },
    {
      "type": "content_grouped_miel",
      "name": "Pregunta sobre miel",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Pregunta"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Respuesta"
        }
      ]
    },
    {
      "type": "content_grouped_shipping",
      "name": "Pregunta sobre envios",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Pregunta"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Respuesta"
        }
      ]
    },
    {
      "type": "content_grouped_subs",
      "name": "Pregunta sobre subs",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Pregunta"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Respuesta"
        }
      ]
    },

  ],
  "presets": [
    {
      "name": "iUROP section - Faqs",
      "category": "Custom"
    }
  ]
}
{% endschema %}
