<div class="i-section" data-aos="fade-up">
  <div class="
    i-section-image-text 
    {% if section.settings.is_complete %} without-margins{% endif %} 
    {% if section.settings.is_bg %} width-background{% endif %} 
    template-style-{{section.settings.template_text_style }}
  ">

    {% if section.settings.image_left %}
      <div class="i-section-image-text__image {% if section.blocks.size > 0 %} has-items{% endif %}">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-desktop">
        <img src="{{ section.settings.image_m | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-mobile">
      </div>
    {% endif %}
    <div class="i-section-image-text__text {% if section.blocks.size > 0 %} has-items{% endif %} {% if section.settings.text_to_left %} is_text-left{% endif %}">
      <h2 class="Text-Colors-800 Family-Font Typo-H1">{{ section.settings.title }}</h2>
      <div class="i-section-image-text__text--pharagrah">
        {{ section.settings.content }}
        {% if section.settings.button_link and section.settings.button_text %}
          <a href="{{ section.settings.button_link }}" class="Text-Colors-White Family-Font Typo-Body-M is-button-hover-primary">{{ section.settings.button_text }}</a>
        {% endif %}

        {% for block in section.blocks %}
          {% if block.type == 'link_block' %}
            <div class="i-section-image-text__text--pharagrah__link">
              <a href="{{ block.settings.button_link }}" class="Text-Colors-500 Family-Font---Body Typo-Body-L external-link">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.title }}" />
                {% endif %}
                {{ block.settings.title }}

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                  <path d="M13.338 5.04405L1.88204 16.5L0 14.618L11.4546 3.16201H1.35896V0.5H16V15.141H13.338V5.04405Z" fill="#887E64"/>
                </svg>
              </a>
            </div>
          {% endif %}
          {% if block.type == 'checkblock' %}
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path d="M2.31528 3.33952C-0.788538 6.47708 -0.77167 11.5545 2.36589 14.6583C5.50345 17.7622 10.5809 17.7453 13.6847 14.6077C16.7885 11.4702 16.7717 6.39274 13.6341 3.28892C10.4966 0.185095 5.41911 0.201963 2.31528 3.33952ZM11.8966 7.43859L7.54455 11.8413C7.17344 12.2124 6.56617 12.2124 6.19506 11.8413L6.02637 11.6726L5.52032 11.1666L4.10335 9.76646C3.73225 9.39535 3.73225 8.78808 4.10335 8.41697C4.47446 8.04586 5.08173 8.04586 5.45284 8.41697L6.8698 9.81706L10.5472 6.10597C10.9183 5.73486 11.5255 5.73486 11.8966 6.10597C12.2678 6.46021 12.2678 7.06748 11.8966 7.43859Z" fill="#1E1E1E"/>
              </svg>
              <span>{{ block.settings.title }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.image_left and section.blocks.size > 0 %}
      <div class="i-section-image-text__image image-with-items only-mobile">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-desktop">
        <img src="{{ section.settings.image_m | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-mobile">
      </div>
    {% endif %}
    {% unless section.settings.image_left %}
      <div class="i-section-image-text__image">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-desktop">
        <img src="{{ section.settings.image_m | img_url: 'master' }}" alt="{{ section.settings.title }}" class="Corner-Large only-mobile">
      </div>
    {% endunless %}
  </div>
</div>

{% schema %}
{
  "name": "iUROP section - ImageText",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Texto enriquecido"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Texto del botón"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "URL del botón"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen (escritorio)"
      },
      {
        "type": "image_picker",
        "id": "image_m",
        "label": "Imagen (mobile)"
      },
      {
        "type": "checkbox",
        "id": "image_left",
        "label": "Mostrar imagen a la izquierda",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "text_to_left",
        "default": false,
        "label": "Texto a la izquierda"
      },
      {
        "type": "checkbox",
        "id": "is_complete",
        "default": false,
        "label": "Sin margenes"
      },
      {
        "type": "checkbox",
        "id": "is_bg",
        "default": false,
        "label": "Texto con fondo"
      },
      {
        "type": "select",
        "id": "template_text_style",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "alternative_1",
            "label": "Textos justificados"
          },
        ],
        "default": "normal",
        "label": "Normal"
      },
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Enlace",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Enlace"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icono"
        }
      ]
    },
    {
      "type": "checkblock",
      "name": "Check",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "iUROP section - ImageText",
      "category": "Custom"
    }
  ]
}
{% endschema %}
