<div class="i-section" data-aos="fade-up" id="{{ section.settings.id_section }}">

  <div class="i-section-yes-not">
    <h2 class="i-section-yes-not__title">
      {{ section.settings.title }}
    </h2>
    <div class="i-section-yes-not__tables">
      <div class="i-section-yes-not__tables--no">
        <div class="i-section-yes-not__table-title">
          {{ section.settings.title_no }}
        </div>
        <div class="i-section-yes-not__table-items">
          {% for block in section.blocks %}
            {% if block.type == 'no' %}
              <div class="i-section-yes-not__table-items__row">
                {{ block.settings.text }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="i-section-yes-not__tables--vs">
        <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 30.5001C0 13.9316 13.4315 0.500122 30 0.500122C46.5685 0.500122 60 13.9316 60 30.5001C60 47.0687 46.5685 60.5001 30 60.5001C13.4315 60.5001 0 47.0687 0 30.5001Z" fill="#887E64"/>
          <path d="M23.5972 34.8533L28.2913 23.695C28.3962 23.4415 28.4181 23.2797 28.3569 23.2098C28.2957 23.1311 28.0859 23.0918 27.7275 23.0918H26.4294C26.1934 23.0918 26.0404 23.0656 25.9705 23.0131C25.9006 22.9519 25.8656 22.8121 25.8656 22.5935V21.2168C25.8656 20.972 25.8918 20.8103 25.9443 20.7316C26.0055 20.6442 26.1584 20.6005 26.4032 20.6005H33.2477C33.4925 20.6005 33.6542 20.6398 33.7328 20.7185C33.8203 20.7884 33.864 20.9545 33.864 21.2168V22.5935C33.864 22.7771 33.8334 22.9082 33.7722 22.9869C33.711 23.0568 33.5799 23.0918 33.3788 23.0918H31.9103C31.5868 23.0918 31.3727 23.1442 31.2678 23.2491C31.1716 23.3453 31.0798 23.4983 30.9924 23.7081L24.0692 39.9408C23.9993 40.1069 23.9338 40.2424 23.8726 40.3473C23.8201 40.4522 23.7371 40.5308 23.6234 40.5833C23.5185 40.6357 23.3393 40.662 23.0858 40.662H21.2239C20.8655 40.662 20.6251 40.6183 20.5028 40.5308C20.3804 40.4522 20.2667 40.2905 20.1619 40.0457L13.2125 23.5769C13.1163 23.3584 13.0289 23.2229 12.9502 23.1705C12.8803 23.118 12.6836 23.0918 12.3602 23.0918H10.5507C10.2972 23.0918 10.1399 23.0481 10.0787 22.9607C10.0262 22.8645 10 22.6941 10 22.4493V21.1774C10 20.9065 10.035 20.7447 10.1049 20.6923C10.1836 20.6311 10.3584 20.6005 10.6294 20.6005H20.2143C20.4503 20.6005 20.5989 20.6442 20.6601 20.7316C20.7213 20.819 20.7519 20.9895 20.7519 21.243V22.4624C20.7519 22.7421 20.7169 22.917 20.647 22.9869C20.5771 23.0568 20.4022 23.0918 20.1225 23.0918H18.5622C18.2387 23.0918 18.0464 23.1399 17.9852 23.236C17.9328 23.3322 17.9503 23.4939 18.0377 23.7212L22.1418 34.0273C22.2904 34.4031 22.4171 34.7353 22.522 35.0238C22.6357 35.3035 22.7406 35.5046 22.8367 35.6269C22.9329 35.7406 23.0378 35.7449 23.1514 35.64C23.2738 35.5264 23.4224 35.2642 23.5972 34.8533Z" fill="white"/>
          <path d="M47.0104 26.737C46.8881 25.8541 46.5778 25.1111 46.0795 24.5079C45.5812 23.9047 44.965 23.4458 44.2307 23.1311C43.5052 22.8164 42.7403 22.6591 41.9361 22.6591C40.7472 22.6591 39.8731 22.8864 39.3137 23.3409C38.7542 23.7867 38.4745 24.3462 38.4745 25.0193C38.4745 25.6312 38.6799 26.1294 39.0908 26.5141C39.5103 26.8899 40.0611 27.2002 40.7429 27.445C41.4335 27.6898 42.1896 27.9214 43.0113 28.1399C43.833 28.3497 44.6503 28.5989 45.4632 28.8873C46.2849 29.1671 47.0367 29.5342 47.7185 29.9887C48.4091 30.4433 48.9598 31.0333 49.3706 31.7589C49.7902 32.4757 50 33.3891 50 34.4993C50 35.9416 49.6809 37.1217 49.0428 38.0396C48.4134 38.9574 47.5218 39.6349 46.368 40.0719C45.2141 40.509 43.8679 40.7275 42.3294 40.7275C41.2455 40.7275 40.2883 40.5658 39.4579 40.2424C38.6362 39.9102 37.9456 39.4906 37.3862 38.9836C37.1502 38.7651 36.9885 38.6908 36.901 38.7607C36.8136 38.8307 36.6913 39.0142 36.5339 39.3114L36.2192 40.0457C36.1405 40.203 36.0531 40.2992 35.957 40.3342C35.8608 40.3779 35.686 40.3997 35.4325 40.3997H34.4098C34.1825 40.3997 34.0251 40.3648 33.9377 40.2948C33.8503 40.2336 33.8066 40.0938 33.8066 39.8752V33.5815C33.8066 33.3542 33.8372 33.2099 33.8984 33.1488C33.9683 33.0876 34.1169 33.057 34.3442 33.057H35.5767C35.8215 33.057 35.957 33.0963 35.9832 33.175C36.0182 33.2449 36.0488 33.3848 36.075 33.5946C36.1624 34.3988 36.4421 35.1636 36.9142 35.8892C37.3862 36.606 38.0243 37.196 38.8285 37.6593C39.6415 38.1139 40.5899 38.3411 41.6738 38.3411C42.6441 38.3411 43.4352 38.2056 44.0471 37.9347C44.6678 37.6637 45.1267 37.3053 45.4239 36.8595C45.7211 36.4137 45.8697 35.9329 45.8697 35.4171C45.8697 34.7266 45.6599 34.1759 45.2403 33.765C44.8295 33.3454 44.2831 33.0045 43.6013 32.7423C42.9195 32.48 42.1677 32.2484 41.346 32.0473C40.5331 31.8463 39.7158 31.619 38.8941 31.3655C38.0811 31.1033 37.3337 30.7624 36.6519 30.3428C35.9701 29.9232 35.4237 29.3725 35.0129 28.6907C34.6021 28.0001 34.3966 27.1216 34.3966 26.0551C34.3966 25.0411 34.5846 24.1714 34.9605 23.4458C35.3363 22.7115 35.8433 22.1084 36.4815 21.6364C37.1196 21.1643 37.8407 20.819 38.6449 20.6005C39.4579 20.382 40.2927 20.2727 41.1494 20.2727C42.0672 20.2727 42.9107 20.4082 43.68 20.6792C44.4492 20.9502 45.1092 21.3129 45.6599 21.7675C45.861 21.9248 46.0227 22.0035 46.1451 22.0035C46.2674 22.0035 46.3986 21.868 46.5384 21.597L46.9056 20.8627C46.9667 20.7666 47.0148 20.701 47.0498 20.6661C47.0935 20.6224 47.194 20.6005 47.3514 20.6005H48.7806C48.9816 20.6005 49.1127 20.6355 49.1739 20.7054C49.2439 20.7753 49.2788 20.9152 49.2788 21.125V26.8943C49.2788 27.1303 49.2395 27.2789 49.1608 27.3401C49.0909 27.3926 48.9336 27.4188 48.6888 27.4188H47.6792C47.347 27.4188 47.1634 27.3751 47.1285 27.2877C47.0935 27.2002 47.0542 27.0167 47.0104 26.737Z" fill="white"/>
        </svg>
      </div>
      <div class="i-section-yes-not__tables--yes">
        <div class="i-section-yes-not__table-title">
          {{ section.settings.title_yes }}
        </div>
        <div class="i-section-yes-not__table-items">
          {% for block in section.blocks %}
            {% if block.type == 'yes' %}
              <div class="i-section-yes-not__table-items__row">
                {{ block.settings.text }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "iUROP section - YesNot",
  "class": "section-yes-not",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "id_section",
      "label": "ID de sección"
    },
    {
      "type": "text",
      "id": "title_no",
      "label": "Titulo NO"
    },
    {
      "type": "text",
      "id": "title_yes",
      "label": "Titulo SI"
    },
  ],
  "blocks": [
    {
      "type": "no",
      "name": "No items",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Texto"
        }
      ]
    },
    {
      "type": "yes",
      "name": "Yes items",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Texto"
        }
      ]
    },
  ],
  "presets": [
    {
      "name": "iUROP section - YesNot",
      "category": "Custom"
    }
  ]
}
{% endschema %}
