<div class="i-section" data-aos="fade-up">
  <div class="i-section-parallax {% if section.settings.video_url != blank %} is-video-background{% endif %} {% if section.settings.text_left %} is-left-section{% endif %}" style="background-image: url({{ section.settings.banner_image | image_url: width: 1600 }})">
    <div class="i-section-parallax__overlay {% if section.settings.alternate_title %} is-alternate-title{% endif %} {% if section.settings.text_left %} is-left-text{% endif %}">
      <h2 class="Family-Font {% if section.settings.alternate_title %} Text-Colors-White Typo-H3{% else %} Text-Colors-200 Typo-H2{% endif %}">{{ section.settings.title_image | newline_to_br }}</h2>
      {% if section.settings.subtitle != blank %}
        <p class="Text-Colors-White Family-Font---Body Typo-Body-L">{{ section.settings.subtitle }}</p>
      {% endif %}

      {% if section.settings.button_text and section.settings.button_link %}
        <a href="{{ section.settings.button_link }}" class="Text-Colors-100 Family-Font Typo-Body-M is-button-hover-secondary">
          {{ section.settings.button_text }}
        </a>
      {% endif %}

    </div>

    {% if section.settings.video_url != blank %}
      <video autoplay muted loop playsinline>
        <source src="{{ section.settings.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% endif %}
    
  </div>
</div>

{% schema %}
{
  "name": "iUROP section - Parallax",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Imagen"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "textarea",
      "id": "title_image",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitulo"
    },
    {
      "type": "checkbox",
      "id": "alternate_title",
      "default": false,
      "label": "Small title"
    },
    {
      "type": "checkbox",
      "id": "text_left",
      "default": false,
      "label": "Left text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto del botón",
      "default": "Comprar miel"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Enlace del botón"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Parallax",
      "category": "Custom"
    }
  ]
}
{% endschema %}
