<div class="i-section" data-aos="fade-up">
  <div class="i-section-testimonials">
    <div class="i-section-testimonials__text">{{ section.settings.mision_text }}</div>
    <div class="i-section-testimonials__profile">
      <div class="i-section-testimonials__profile--avatar">
        <img src="{{ section.settings.avatar | image_url: width: 1600 }}" alt="Banner Arcadia" class="header-image" />
      </div>
      <div class="i-section-testimonials__profile--labels">
        <div class="Text-Colors-Grey Family-Font---Body Typo-Body-M title-profile">
          {{ section.settings.name }}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <g clip-path="url(#clip0_7626_4798)">
              <path d="M5.66343 14.9841C5.49855 14.9754 5.31957 15.0146 5.13886 15.0362C4.9547 15.0582 4.77054 15.0814 4.58505 15.0864C4.13073 15.0985 3.79691 14.9031 3.58539 14.4997C3.45525 14.2514 3.34549 13.994 3.24302 13.7335C3.0638 13.278 2.74691 12.962 2.2915 12.7832C2.02792 12.6797 1.76685 12.5703 1.51723 12.4354C1.38419 12.3635 1.26385 12.2761 1.16953 12.1561C1.03171 11.9808 0.973066 11.7769 0.955426 11.5587C0.938805 11.3529 0.963579 11.1491 0.985061 10.9452C1.00654 10.7414 1.03657 10.5379 1.04558 10.3334C1.06095 9.986 0.954407 9.67206 0.745788 9.3945C0.567744 9.15771 0.390955 8.92014 0.223574 8.6756C0.126987 8.53446 0.0526649 8.38369 0.0191102 8.2148C-0.0351417 7.9414 0.0286749 7.69042 0.173556 7.45905C0.310048 7.24108 0.456967 7.02954 0.620977 6.83117C0.761076 6.66174 0.882123 6.48234 0.954328 6.27277C1.05186 5.98948 1.06322 5.69875 1.02434 5.40536C0.993998 5.17634 0.958797 4.9481 0.943431 4.71743C0.934729 4.58672 0.942647 4.45649 0.965304 4.3283C1.01187 4.06462 1.15385 3.86092 1.37337 3.71006C1.546 3.59144 1.73549 3.50472 1.92663 3.42184C2.0759 3.35716 2.2269 3.29647 2.3764 3.23234C2.75875 3.06831 3.03613 2.79765 3.19967 2.41378C3.30174 2.17425 3.4006 1.93346 3.51538 1.69958C3.56414 1.60016 3.61534 1.50231 3.67727 1.4101C3.87648 1.11373 4.15731 0.9715 4.51081 0.965776C4.69042 0.962875 4.86729 0.994394 5.04541 1.01047C5.26571 1.03046 5.48538 1.06049 5.706 1.07304C6.02963 1.09146 6.32339 0.996041 6.58571 0.807082C6.78907 0.66062 6.98915 0.50961 7.19134 0.361501C7.32023 0.2671 7.45507 0.182735 7.60144 0.116953C7.85914 0.00106869 8.11707 -0.00363568 8.37751 0.106368C8.4708 0.145728 8.56057 0.191752 8.64485 0.24742C8.85684 0.387297 9.06632 0.530937 9.26036 0.695354C9.613 0.994316 10.0222 1.10228 10.4773 1.06629C10.6851 1.04983 10.8897 1.00937 11.097 0.989455C11.279 0.97197 11.4615 0.962875 11.6428 0.984202C11.9346 1.01854 12.1617 1.16501 12.3253 1.40799C12.4641 1.61419 12.5667 1.83922 12.6572 2.06997C12.6928 2.16084 12.7233 2.25383 12.762 2.34329C12.964 2.81083 13.3087 3.12923 13.7836 3.30659C14.037 3.4013 14.2862 3.50472 14.5205 3.64075C14.7126 3.75225 14.8748 3.89408 14.9715 4.10029C15.0452 4.25734 15.0681 4.42325 15.0637 4.59456C15.0588 4.79011 15.0286 4.9833 15.0112 5.17767C14.9962 5.34616 14.9748 5.51411 14.9617 5.68276C14.9333 6.05025 15.0456 6.37509 15.2641 6.66809C15.4373 6.90033 15.608 7.13445 15.7765 7.37006C15.8779 7.51174 15.9486 7.66831 15.9816 7.84081C16.0189 8.03486 15.9982 8.22304 15.9264 8.40619C15.8908 8.49746 15.8466 8.5848 15.7907 8.66509C15.6398 8.88133 15.4908 9.09883 15.322 9.30198C15.0843 9.58808 14.9679 9.91888 14.9583 10.2901C14.9531 10.4901 14.9874 10.6855 15.0114 10.8824C15.0366 11.0891 15.0644 11.2958 15.0621 11.5046C15.0575 11.9235 14.8729 12.2348 14.4993 12.4273C14.2301 12.5659 13.9532 12.6883 13.6726 12.8022C13.3623 12.9281 13.1088 13.1236 12.926 13.4067C12.8551 13.5165 12.8019 13.6352 12.7525 13.7558C12.6525 13.9998 12.5481 14.2418 12.4263 14.4759C12.3674 14.5891 12.2971 14.6941 12.2104 14.7882C12.0331 14.9808 11.8096 15.0707 11.5521 15.0863C11.3919 15.096 11.234 15.0718 11.0753 15.0575C10.7967 15.0321 10.5193 14.9937 10.2393 14.9843C9.93404 14.974 9.66333 15.0738 9.41864 15.2493C9.21763 15.3935 9.02046 15.5429 8.82062 15.6887C8.70224 15.7751 8.58001 15.8557 8.44744 15.9195C8.14921 16.063 7.852 16.0636 7.55432 15.9173C7.33081 15.8073 7.13458 15.6564 6.93537 15.5099C6.86724 15.4598 6.80217 15.4056 6.73694 15.3517C6.43063 15.0989 6.07925 14.9761 5.66343 14.9845V14.9841ZM4.19494 7.72869C4.18969 7.98837 4.28855 8.19489 4.46118 8.36785C5.17406 9.08205 5.88819 9.79508 6.60201 10.5085C6.68065 10.5871 6.76783 10.655 6.86449 10.7102C7.12627 10.86 7.38969 10.863 7.6546 10.7187C7.77 10.6558 7.86933 10.5725 7.96192 10.48C8.39272 10.0498 8.82415 9.62047 9.25479 9.19025C9.97332 8.47245 10.6915 7.75432 11.4096 7.03597C11.467 6.97842 11.5242 6.92032 11.5779 6.85924C11.7672 6.64402 11.8481 6.39578 11.7984 6.10999C11.7082 5.59173 11.2021 5.30743 10.7444 5.40614C10.5535 5.44731 10.399 5.55363 10.2632 5.6895C9.46686 6.48603 8.67064 7.28271 7.87466 8.07955C7.71136 8.24303 7.55056 8.40917 7.38577 8.57116C7.29059 8.6647 7.23587 8.66423 7.14775 8.56724C6.94618 8.34535 6.72377 8.14447 6.51342 7.93137C6.2413 7.65569 5.96495 7.38425 5.68977 7.11163C5.59381 7.01652 5.48272 6.94471 5.35532 6.8975C4.90758 6.73175 4.19478 7.01041 4.19478 7.72861L4.19494 7.72869Z" fill="#2799FF"/>
            </g>
            <defs>
            <clipPath id="clip0_7626_4798">
              <rect width="16" height="16" fill="white" transform="translate(0 0.0268555)"/>
            </clipPath>
            </defs>
          </svg>
          <span>{{ section.settings.account }}</span>
        </div>
        <div class="Text-Colors-Grey Family-Font---Body Typo-Body-S">{{ section.settings.role }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "iUROP section - Opinions",
  "settings": [
    {
      "type": "richtext",
      "id": "mision_text",
      "label": "Misión"
    },
    {
      "type": "header",
      "content": "Perfil"
    },
    {
      "type": "image_picker",
      "id": "avatar",
      "label": "Imágen de perfil"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Nombre"
    },
    {
      "type": "text",
      "id": "account",
      "label": "Cuenta"
    },
    {
      "type": "text",
      "id": "role",
      "label": "Rol"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Opinions",
      "category": "Custom"
    }
  ]
}
{% endschema %}
